body {
    font-family: Arial, sans-serif;
    background-color: #f7f5f5;
    padding: 20px;
    text-align: center;
}

form {
    background-color: #f2e8e8;
    padding: 40px;
    display: inline-block;
    text-align: left;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    border: none;
    color: white;
    width: 100%;
} 